body, html {
    margin:0;
    padding:0;
    height:100%;
    /* width:100%; */
}

/* .header {
    background-image: url(https://cdn.hipwallpaper.com/i/29/10/kMQ5UP.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:100%;
    background-attachment: fixed;
} */

/* .header-text {
    text-align: center;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E03C31;
} */

.bg-color {
    background-color: #121737;
}

.custom-btn {
    margin:5px;
}

.carousel {
    height:80%
}

.carousel-inner {
    height:100%;
}
/* 
.carousel-item {
    height:80%
} */

.w-100 {
    height:80%
}

.carousel-caption {
    margin-bottom:20px;
}

.customtd {
    padding:10px;
}

.other-jobs {
    background-color: #f1f1f1;
    border: 1px black;
}

.content-left {
    width:18%;
    display: flex;
    flex-flow: column wrap;
}

.sidenav {
    height:calc(100vh - 64px);
    background-color:#121737;
    /* width:15%; */
    width:15%;
    left:0;
    /* padding:0 20px; */
    overflow-y:scroll;
    overflow-x:hidden;
    position: fixed;
}

.sidenav .nav-item .nav-link {
    color:white
}

.sidenav > .nav-item {
    margin:0 20;
}

.sidenav > .nav-item:hover {
    background-color:#293379;
}

.content-right {
    /* padding-left:170px; */
    width:100%;
    /* display: flex; */
    /* flex-flow: column wrap; */
    /* height: calc(100vh - 64px); */
}

.wrapper {
    /* position: absolute; */
    bottom: 0;
    /* top: 0;*/
    height: calc(100vh - 64px);
    height: -webkit-calc(100vh - 64px);
    height: -moz-calc(100vh - 64px);
    right: 0;
    /* left: 0; */
    display: flex;
    flex-grow: 1;
    /* overflow-x: none; */
    background-color: #f3f3f3;
}

.layout {
    background-color: #ffffff;
    /* display: flex; */
    /* flex-flow: column wrap; */
    /* justify-content: space-between; */
}

.statistics {
    margin:20px;
    /* background-color:#121737; */
    padding:20px;
    color:white;
    border-radius: 20px;
    height:150px;
}

.blue {
    background-color: #2298f1;
}

.green {
    background-color: #66b92e;
}

.brown {
    background-color: #da932c;
}

.red {
    background-color: #d65b4a;
}

.blue:hover {
    background-color: #145a90;
    text-decoration:none;
}

.green:hover {
    background-color: #41771d;
    text-decoration:none;
}

.brown:hover {
    background-color: #90621d;
    text-decoration:none;
}
/* 
.red:hover {
    background-color: #913b30;
} */
.overlay {
    position: absolute; 
    bottom: 0; 
    /* background: rgb(0, 0, 0); */
    background: rgba(41, 51, 121, 1); /* Black see-through */
    /* color: #293379;  */
    width: 100%;
    height:100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .footer {
      background-color:#121737;
      height:400px;
      color:white;
      padding:40px;
  }