
    <ul class="nav flex-column sidenav">
      <li class="nav-item">
        <a class="nav-link active" href="/master/loggedin/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/master/loggedin/jobs">All Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/master/loggedin/recruited-jobs">Recruited Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/master/loggedin/applied-jobs">Applied Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/master/loggedin/add-job">Add Job</a>
      </li>
      <li class="nav-item">
        <a href="/master/loggedin/add-location/" class="nav-link">Add Location</a>
      </li>
      <li class="nav-item">
        <a href="/master/loggedin/add-department/" class="nav-link">Add Department</a>
      </li>
    </ul>